@import "../../partials/mixins", "../../partials/variables";
.moody {
    & .content__heading {
        justify-content: unset !important;
    }
    &-menu {
        z-index: 1;
        border-radius: 10px;
        display: flex;
        list-style: none;
        border-radius: 5px;
        overflow: hidden;
        align-self: center;
        font-weight: 600;
        background-color: $primary-lt;
        box-shadow: $shadow;
        &__link {
            text-decoration: none;
            transition: $transition;
            &.active {
                background-color: $primary-bg;
            }
        }
        &__item {
            padding: 8px;
            transition: $transition;
            &:hover {
                background-color: $primary-bg-tpt;
            }
        }
    }
}
.camera-container, .inkblot-container {
    display: flex;
    justify-content: center;
    & .animated {
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
    &__error {
        cursor: default;
        background-color: #b71c8b9c;
        padding: 8px 16px;
        border-radius: 0px 0px 10px 10px;
    }
    & video {
        border-radius: 10px;
        box-shadow: $shadow;
    }
}
// Imported React 5 Camera CSS
#container-circles {
    position: absolute;
    align-self: flex-end;
    height: 75px;
    width: 75px;
    left: 50%;
    transform: translateX(-50%);
}
#outer-circle {
    height: 75px;
    width: 75px;
    background: url("../../assets/snapshot.svg") center no-repeat;
    cursor: pointer;
    opacity: 0.5;
    border: 2px solid $secondary;
    background-size: cover;
    z-index: 1;
    transition: $transition;
    &:hover {
        opacity: 1;
    }
}
#inner-circle,
#outer-circle {
    position: absolute;
    border-radius: 50%;
}
#white-flash.normal {
position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    opacity: 1;
    -webkit-transition: opacity 0.9s ease-out;
    -o-transition: opacity 0.9s ease-out;
    transition: opacity 0.9s ease-out;
}
#white-flash.do-transition {
    opacity: 0;
    background: #fff;
}
#display-error {
    color: #000;
    background-color: #fff;
}
.react-html5-camera-photo {
    display: flex;
    text-align: center;
}
.react-html5-camera-photo > img,
.react-html5-camera-photo > video {
    width: 768px;
}
.react-html5-camera-photo > .display-error {
    width: 768px;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .react-html5-camera-photo > .display-error,
    .react-html5-camera-photo > img,
    .react-html5-camera-photo > video {
        width: 100%;
    }
}
.react-html5-camera-photo-fullscreen > img,
.react-html5-camera-photo-fullscreen > video {
    width: 100vw;
    height: 100vh;
}
.react-html5-camera-photo-fullscreen > video {
    -o-object-fit: fill;
    object-fit: fill;
}
.react-html5-camera-photo-fullscreen > .display-error {
    width: 100vw;
    height: 100vh;
}
.text-emphasis {
    font-weight: bold;
    color: $primary-bg;
}
