@import "../../partials/mixins", "../../partials/variables";
.playlist {
    display: flex;
    width: 100%;
}

.spotify-playlist {
    @include flex-column;
    align-self: center;
    box-shadow: $shadow-alt;
    background-color: #1b1b1b;
    border-radius: 10px 10px 0 0;
    padding: 8px;
    overflow: hidden;
    position: relative;

    @include tablet {
        width: 80%;
    }
    &__logo {
        width: 32px;
        height: 32px;
        background: url("../../assets/spotify_logo.svg") no-repeat center;
        background-size: cover;
        margin: 0px 16px 0px 0px;
    }
    &__save {
        align-self: flex-end;
        width: 35px;
        height: 38px;
        background-size: cover;
        margin: 0px 16px 0px 0px;
        &-icon {
            fill: #4f4f4f;
            stroke: #4f4f4f;
            stroke-width: 5px;
            cursor: pointer;
            transition: $transition;
            &:hover {
                opacity: 0.5;
                fill: $primary-bg;
                stroke: $primary-bg
            }
            &.saved {
                opacity: 1;
                fill: $primary-bg;
                stroke: $primary-bg
            }
        }
    }
    &__title {
        display: flex;
    }
    &__container {
        @include flex-column;
        padding: 8px;
        border-radius: 10px 10px 0 0;
        background-color: #515151;
    }
    &__header {
        display: flex;
        padding: 8px;
        height: 48px;
        align-items: center;
        justify-content: space-between;
    }
}

.container {
    &__header {
        display: flex;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
    &__row {
        display: flex;
        &:hover {
            background-color: #1b1b1b;
        }
    }
    &__cell {
        flex-basis: 170px;
        flex-grow: 1;
        margin: 8px;
        text-shadow: 1px 1px #1b1b1b;
        &:first-child,
        &:last-child {
            flex-basis: 80px;
        }
        &:last-child {
            position: relative;
            @include flex-center;
            justify-content: flex-end;
        }
    }
    &__link {
        text-decoration: none;
        transition: $transition;
        &:hover {
            text-decoration: underline;
            color: $primary-lt;
            text-shadow: $secondary-dk;
        }
    }
    &__menu {
        &-icon {
            height: 16px;
            width: 16px;
            cursor: pointer;
            background: url('../../assets/menu-icon.svg');
            background-size: cover;
            filter: invert(1);
        }
    }
    &__overlay {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        border-radius: 0 0 10px 10px;
        cursor: pointer;
    }
    &__notification {
        padding: 16px;
        width: 100%;
        background-color: #b71c8bb5;
        border-radius: 0 0 10px 10px;
        border: 2px solid $secondary;
        text-align: center;
        cursor: pointer;
        margin: 8px;
    }
}