// Dimensions
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

// Colors
$primary: #323232;
$primary-lt: #4f4f4f;
$primary-bg: #B71C8B; 
$primary-bg-hov: #E720AF;
$secondary: #F4F4F4; 
$secondary-dk: #EEEEEE;
$spotify-grn: #1DB954; 
$spotify-hvr: #35ca6a;

//Extras
$border: 1px solid #b71c8b6b;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-alt: 0px 0px 20px 6px rgba(255, 255, 255, 0.25);
$transition: 0.3s ease-in-out;